<div id="main-container">
            
  <img id="map" src="assets/images/0s.png" usemap="#image-map">

  <map name="image-map">
      <area id="pc" class="map-area" 
          target="" alt="pc" href="#" coords="944,646,1398,42" shape="rect">
      <area id="wallet" class="map-area" 
          target="" alt="wallet" href="#" coords="504,298,780,62" shape="rect">
      <area id="letter" class="map-area" 
          target="" alt="letter" href="#" coords="929,1017,1319,750" shape="rect">
      <area id="pad" class="map-area" 
          target="" alt="pad" href="#" coords="456,1033,1,636" shape="rect">
      <area id="phone" class="map-area" 
          target="" alt="phone" href="#" coords="181,390,351,57" shape="rect">
      <area id="business" class="map-area" 
          target="" alt="business" href="#" coords="707,621,852,403" shape="rect">
  </map>
</div>
<div id="frost-intro" class="frost-container">
  <div class="card">
      <img src="assets/images/self2.png" alt="">
      <button type="button" class="close"> <span>X</span> </button>
      <!--<p>Bonjour, je suis Adrien Barguil</p>--><p>Afin d'obtenir les différentes informations et liens me concernant, je vous invite à parcourir ce bureau interactif.</p>
  </div>
</div>
<div id="frost-pc" class="frost-container">
  <div class="card">
      <button type="button" class="close"> <span>X</span> </button>
      <h2>If skill > 0</h2>
      <img src="assets/images/skills.png" alt="">
      <img src="assets/images/skills2.png" alt="">
  </div>
</div>
<div id="frost-wallet" class="frost-container">
  <div class="card">
      <button type="button" class="close"> <span>X</span> </button>
      <h2>id = ' '</h2>
      <img src="assets/images/self3.png" alt="">
      <div>
          <p>Adrien Barguil</p>
          <p>26 ans</p>
          <p>84270 Vedene</p>
      </div>
  </div>
</div>
<div id="frost-letter" class="frost-container">
  <div class="card">
      <button type="button" class="close"> <span>X</span> </button>
      <p>Wallet - Afin d'obtenir les différentes informations et liens me concernant, je vous invite à parcourir ce bureau interactif.</p>
  </div>
</div>
<div id="frost-pad" class="frost-container">
  <div class="card">
      <button type="button" class="close"> <span>X</span> </button>
      <p>Wallet - Afin d'obtenir les différentes informations et liens me concernant, je vous invite à parcourir ce bureau interactif.</p>
  </div>
</div>
<div id="frost-phone" class="frost-container">
  <div class="card">
      <button type="button" class="close"> <span>X</span> </button>
      <h2>@me</h2>
      <div>
          <img src="assets/images/logo_phone.png" alt="Telephone ">
          <p> : 06 22 54 92 72</p>
      </div>
      <div>
          <img src="assets/images/logo_mail.png" alt="Email ">
          <p> : adrien.barguil@gmx.fr</p>
      </div>    
  </div>
</div>
<div id="frost-business" class="frost-container">
  <div class="card">
      <button type="button" class="close"> <span>X</span> </button>
      <h2>var portfolio = </h2>
      <div>
          <a href="#">
              <img src="assets/images/adrien-min.jpg" alt="">
          </a>
          <p>Site Web</p>
          <p>Cartes de visite</p>
      </div>
      <div>
          <a href="#">
              <img src="assets/images/banast-min.jpg" alt="">
          </a>
          <p>Site Web</p>
          <p>Cartes de visite</p>
      </div>
  </div>
</div>

<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../assets/scripts/jquery.rwdImageMaps.min.js"></script>
<script type="text/javascript" src="../passets/scripts/script.js"></script>
<script> $('img[usemap]').rwdImageMaps();</script>